/* SHAPES & TRANSFORMATIONS */

/* Base */
body {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 400;	
	margin: 0;
	padding: 0;
	background: #1d1d1d;
	color: #eaeaea;
	overflow-x: hidden;
}
img {
	max-width: 100%;
	height: auto;
}
p {
	margin: 1em 0;
}
section {
	position: relative;
	display: block;
	margin: 0;
	padding: 3em 1em 1em 1em;
	min-height: 66vh;
	text-align: center;
}
section:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 0.25em;
	bottom: 0;
	left: 0;
	background-color: #E91E63;
	background-image: linear-gradient(to left, #E91E63, #673AB7);
}
section:last-child:after {
	display: none;
}
section div {
	margin: 0 auto;
}
main {
	position: relative;
	z-index: 1;
	margin-bottom: 10em;
}
nav {
	padding: 0.25em 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 2;
	text-align: center;
	/* CSS gradients https://cssgradient.io/ are best done with generators! */
	background-color: #E91E63;
	background-image: linear-gradient(to left, #E91E63, #673AB7);
}
nav a {
	display: inline-block;
	color: #eaeaea;
	text-decoration: none;
	border: 2px solid #eaeaea;
	border-radius: 1em;
	margin: 0.25em;
	padding: 0.25em 0.5em;
	text-transform: uppercase;
	line-height: 1;
	transition: all 0.3s ease;
	box-shadow: 0 0 0 #eaeaea;
}
nav a:hover {
	box-shadow: 0 0 0.25em #eaeaea;
	text-shadow: 0 0 0.125em #eaeaea;
}


/* Drawing stuff */

/* 
   Complete the CSS below to do what the HTML is asking of you. There is more
   than one way to complete all of these, so play around with options you find.
   Don't forget, the Web is your friend in trying to solve these problems, 
   so is the Developer Tools within the browser! 
   And this is a great link for info as well:
   https://css-tricks.com/the-shapes-of-css/
 */


.square {
	background-color: #F44336;

}


.line {

}


.circle {
	background-color: #3F51B5;

}

.sphere {
	background-color: #009688;

}

.rotated {
	/* CSS triangles https://css-tricks.com/snippets/css/css-triangle/ using borders */
	width: 0; 
	height: 0; 
	border-left: 5em solid transparent;
	border-right: 5em solid transparent;
	border-bottom: 8em solid #FFEB3B;

}



.flip {
	color: #607D8B;
	font-size: 3em;

}




/* Your own custom drawing will include at least two elements,
   you can use the two classes below to get started. Your drawing
   can be completely abstract or may reference a real object.
   You might consider experimenting with: 
   - other transform properties
   - gradients
   - patterns
   - box-shadow
   - position: absolute;
   - z-index
   - perspective
   - background-colors
   Don't forget to search online! No one *just knows* how to do this!
 */

.custom-1 {
background-color: yellow;
height: 5em;
width: 5em;
position: absolute;
z-index: 1;
animation-name: move-block;
animation-duration: .15s;
animation-iteration-count: infinite;
animation-direction: alternate;

}
@keyframes move-p-block {
	from { 
		transform: rotate();
	 }
}


.custom-2 {
	background-color: purple;
	height:10em;
	width: 10em;
	position: center;
	div {
  transform: scale(2, 3);
}
}

@keyframes move-block { 
from { 
	left: 1em
	background-color: navy;

}
	to{
		left: 60em ;

	}
 }
}


